/* ============ Grundeinstellungen / Reset ========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

img,
picture,
canvas,
video {
    /* … oder "auto-width", je nach dem, was Ihr braucht */
    width: 100%;
    height: auto;
    display: block;
}

.project-thumb {
  width: 100%;
  aspect-ratio: 4 / 5;
  margin-bottom: var(--space-m);
}
.galerie figure:nth-child(1) .project-thumb { background: var(--color-code-darkred); }
.galerie figure:nth-child(2) .project-thumb { background: var(--color-code-yellow) }
.galerie figure:nth-child(3) .project-thumb { background: var(--color-code-green) }
.galerie figure:nth-child(4) .project-thumb { background: var(--color-code-pink) }
.galerie figure:nth-child(5) .project-thumb { background: var(--color-code-purple) }

body {
    /* damit wird Scrollbalken mit berechnet, 
    sonst "Wackler" zwischen langen und kurzen Seiten */
    min-height: 100vh;
    color: #444;
    background-color: #fff;
    /* kommt beim nächsten mal dran */
    scroll-behavior: smooth;
    /* automatische Silbentrennung */
    hyphens: auto;
}

/* ============ Links ========== */

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--aktivOderHoverLinkFarbe);
}

a:focus,
a:active {
    outline: 1px solid var(--aktivOderHoverLinkFarbe);
}

/* gerade aktive Seite */
a.current {
    color: var(--aktivOderHoverLinkFarbe);
}

/* ============ main ========== */

main {
    width: var(--inhaltBreite);
    padding: var(--inhaltPadding);
    margin: 100px auto;
}

.galerie {
    /* outline: 1px solid green; */
    display: grid;
    gap: 60px 16px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    p + p {
        text-indent: 1.5rem;
    }

    .mehrLink {
        font-size: 120%;
    }

    .mehrLink:before {
        content: '→';
        font-size: 130%;
        padding-right: 10px;
    }

    figure {
        border-right: 1px solid rgba(0, 0, 0, 0.5);
        padding-right: 16px;
    }
}
